body {
	font-size: 1em;
	line-height: 1.375;
	font-family: var(--font-family);
}

p {
	margin: 0 0 1.5em 0;
}

ul, ol {
	margin: 0 0 1.5em 0;
}

a {
	color: var(--color-blue);
	text-decoration: none;

	&:hover {
		color: var(--color-blue-dark);
		text-decoration: underline;
	}

	&:active {
		color: var(--color-blue-darker);
	}
}

.intro {
	font-size: 1.25em;
	margin-bottom: 2.5em;

	:last-child {
		margin-bottom: 0;
	}
}


@media (min-width: 40em) {
	.intro {
		font-size: 1.375em;
	}
}